.sketch-controls {
	position: absolute;
	pointer-events: none;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	width: 340px;
	left: 20px;
	top: 20px;
	z-index: 1;
}

.color-controls-container {
	display: flex;
	justify-content: space-around;
}

.color-control {
	width: 40px;
	height: 40px;
	border: 1px solid grey;
	pointer-events: auto;
	box-sizing: border-box;
	border-radius: 20px;
}


.color-1 {
	background-color: white;
}

.color-2 {
	background-color: black;
}

.color-3 {
	background-color: red;
}

.color-4 {
	background-color: orange;
}

.color-5 {
	background-color: yellow;
}

.color-6 {
	background-color: green;
}

.color-7 {
	background-color: blue;
}

.color-8 {
	background-color: purple;
}

.slider-container {
	display: flex;
	align-items: center;
	height: 50px;
}

.width-slider {
	-webkit-appearance: none;

	pointer-events: auto;
	width: 50%;
	height: 3px;
	background-color: white;
	border: 1px solid grey;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	background-color: white;
	border: 1px solid grey;
	box-sizing: border-box;
}

.width-indicator {
	margin-left: 10px;
	border: 1px solid grey;
}