.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	width: 100%;
}

.App-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100px;
	width: 800px;
	background-color: green;
	color: white;
}

.string-container {
	width: 800px;
	background-color: yellow;
}
