.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;	
	width: 1000px;
}

.App-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 120px;
	width: 1000px;
	background-color: green;
	color: white;
}

.text-controls-container {
	display: flex;
}

.image-controls-container {
	display: flex;
}